---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Muzarella's Pizza.">
	<main class="flex flex-row justify-center">
		<Card>
			<h1>Hola</h1>
		</Card> 
	</main>
</Layout>
<style>
</style>
