---
---
<footer class="flex flex-col py-5 px-4 gap-5">
	<div class="flex justify-center">
		<h1>Siguenos en:</h1>
	</div>
	<nav class="flex flex-row gap-5 justify-center">
		<a href="https://www.facebook.com/p/Muzarellas-Pizza-100078344836940">
			<img src="facebook.svg" />
		</a>
		<a href="https://www.instagram.com/muzarellaspizza/">
			<img src="instagram.svg" />
		</a>
		<a href="/">
			<img src="whatsapp.svg" />
		</a>
	</nav>
</footer>
<style>
</style>
